extends layout

block content
	.row
		.col-lg-12
			header.page-header
				h1= title
			.container
				.row
					each offering in offerings
						.col-xs-6.col-sm-4.col-md-3.pad-vertical
							.offering(id="#{offering._id}")
								.offering-details
									h3.text-xxlarge= offering.name
								.btn-group.btn-group-justified.env-links
									each link in offering.links
										a(href="#{link.url}", target="_blank").btn.btn-primary.text-xxlarge #{link.env}