extends layout

block content
	include _includes/edit-feature-modal
	include _includes/create-feature-modal
	include _includes/service-unavailable-modal
	.row
		.col-lg-12
			header.page-header
				h1= title
			.container
				.panel.panel-default
					.panel-body
						button(type="button" data-toggle="modal" data-target="#create-feature-modal").btn.btn-primary
							span.glyphicon.glyphicon-plus.text-large
							| &nbsp;Create New Link
				h2.text-xxxlarge Testing Links
				.row.list-group
					each offering in offerings
						.list-group-item.col-xs-12.pad-vertical
							.feature(id="#{offering._id}")
								.row
									.col-xs-9.col-md-10
										.text-xxlarge= offering.name
										.text-large
											| Categories: #{offering.categories.join(' | ')} 
										.text-large
											| Links: 
											each link in offering.links
												|  #{link.env} |
									.col-xs-3.col-md-2
										.btn-group.btn-group-justified
											.btn-group
												button(type="button" data-id="#{offering._id}").js-edit-feature-btn.btn.btn-primary
													span.glyphicon.glyphicon-pencil.text-large
													span.hidden-xs.text-xlarge &nbsp;Edit